@font-face {
  src: url("Poppins-Regular.ttf");
  font-family: Poppins;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
}

.flexHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

#Button {
  display: none;
  width: 60px;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #b95264;
  border-radius: 50%;
  height: 60px;
  padding: 5px;
}

#Button:hover {
  background-color: white;
  color: #b95264;
}

.fa {
  font-size: 43px;
  text-align: center;
}

#header {
  background: #1d1b1b;
  height: auto;
  padding-top: 5px;
  margin-bottom: 5px;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo h1 {
  color: #fff;
  font-size: 50px;
  font-family: "Poppins";
}

#nav {
  margin-top: 15px;
}

#nav ul {
  list-style-type: none;
}

#nav a {
  text-decoration: none;
  font-size: 23px;
  color: #fff;
}

#nav a:hover {
  color: #b95264;
}

#nav li {
  display: inline;
  margin-right: 20px;
  font-size: 1.4em;
}

#bgImage {
  width: 100%;
  min-height: 500px;
  background-image: url("../img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bgImage h2 {
  text-transform: uppercase;
  text-align: center;
}

#bgImage #drzac {
  width: 100%;
}

#bgImage #text1, #bgImage #text2 {
  display: block;
  text-align: justify;
  margin-top: 170px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

#bgImage #text1 p, #bgImage #text2 p {
  font-size: 16px;
  font-family: Poppins;
}

#bgImage .left {
  float: left;
  margin-left: 110px;
}

#bgImage #text2 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

#bgImage .right {
  float: right;
  margin-right: 100px;
}

#bgImage .cleaner {
  clear: both;
}

#frame {
  background: #1d1b1b;
  height: 220px;
}

#about {
  width: 770px;
  min-height: 350px;
  text-align: center;
  padding: 15px;
}

#about h3 {
  color: #fff;
}

#about p {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins";
}

#about i {
  margin-right: 10px;
  font-size: 20px;
}

mark {
  font-size: 30px;
  background: none;
  color: #fff;
}

mark:hover {
  color: #b95264;
}

.centered {
  margin: 0px auto;
}

#skills {
  margin-top: 48px;
}

#skills ul {
  list-style-type: none;
}

#skills li {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 19px;
}

.colums {
  width: 25%;
  min-height: 180px;
  border-left: 3px solid #000;
  padding-top: 19px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.colums li {
  font-size: 30px;
}

.colums i {
  font-size: 33px;
  color: #b95264;
}

#projects {
  width: 100%;
  min-height: 350px;
  background: #1d1b1b;
  padding-top: 65px;
}

#projects h4 {
  color: #fff;
  font-family: "Poppins";
}

#projects p {
  color: #fff;
  font-family: "Poppins";
}

.block {
  width: 25%;
}

.block img {
  width: 100%;
  height: 160px;
  display: block;
  -webkit-box-shadow: 10px 10px 17px #747070;
          box-shadow: 10px 10px 17px #747070;
  border-radius: 6px;
}

.block img:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.block h4 {
  text-align: center;
}

.grey {
  background-image: url("../img/picThree.png") !important;
  width: 25%;
  height: 160px;
  -webkit-box-shadow: 10px 10px 17px #747070;
          box-shadow: 10px 10px 17px #747070;
  border-radius: 6px;
}

.grey i {
  font-size: 70px;
  padding-top: 59px;
  -webkit-transition: 5s;
  transition: 5s;
}

.grey i:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grey h4 {
  margin-top: 39px;
  text-align: center;
}

#contact {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.hoverFb:hover {
  color: #7ca1d8;
}

.hoverInsta:hover {
  color: #b95264;
}

.hoverTw:hover {
  color: #afaf39;
}

#socials {
  margin-top: 79px;
  margin-left: 40px;
}

#socials ul {
  list-style-type: none;
}

#socials li {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#socials li:hover {
  -webkit-filter: drop-shadow(8px 8px 8px #747070);
          filter: drop-shadow(8px 8px 8px #747070);
}

#form {
  height: auto;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  padding-left: 30px;
  padding-right: 30px;
}

#form th {
  font-size: 20px;
  padding: 17px;
}

#form td {
  padding: 5px;
  font-size: 17px;
}

input[type="text"], [type="email"] {
  height: 32px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #747070;
  padding: 15px;
}

input[type="text"]:focus, [type="email"]:focus {
  border: 2px solid #747070;
}

input[type="text"] td, [type="email"] td {
  font-weight: bold;
}

input[type=submit] {
  width: 55%;
  background-color: #b95264;
  color: #0e0a0a;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #747070;
}

textarea {
  width: 100%;
  color: #0e0a0a;
  padding: 7px 10px;
  border: 1px solid #747070;
  border-radius: 4px;
  cursor: pointer;
  resize: none;
}

textarea:focus {
  border: 2px solid #747070;
}

#other {
  margin-top: 79px;
  margin-right: 40px;
}

#other ul {
  list-style-type: none;
}

#other img {
  padding: 5px;
  width: 70px;
  height: 80px;
}

#other img:hover {
  -webkit-filter: drop-shadow(8px 8px 8px #747070);
          filter: drop-shadow(8px 8px 8px #747070);
}

#other img:hover {
  color: #747070;
}

#footer {
  padding: 10px;
  padding-bottom: 33px;
  width: 100%;
  height: 33px;
  background: #1d1b1b;
}

#footer p {
  color: #fff;
  font-size: 15px;
  font-family: "Poppins";
}

#footer a {
  text-decoration: none;
}

/**RESPONSIVE*/
@media screen and (min-width: 1540px) {
  #bgImage {
    min-height: 590px !important;
  }
}

@media screen and (min-width: 1490px) {
  #bgImage {
    min-height: 550px !important;
  }
  #about {
    width: 60%;
  }
}

@media screen and (min-width: 1390px) {
  #bgImage {
    min-height: 520px;
  }
  #about {
    width: 60%;
  }
  #about p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1320px) {
  #header {
    width: 100%;
  }
}

@media screen and (max-width: 1282px) {
  #text2 {
    margin-right: 20px !important;
  }
  #text1, #bgImage #text2 {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 1117px) {
  #text1, #bgImage #text2, #text2 {
    width: 20%;
  }
  #text1 h2, #bgImage #text2 h2, #text2 h2 {
    font-size: 27px !important;
  }
  #text1 p, #bgImage #text2 p, #text2 p {
    font-size: 16px !important;
  }
  .colums {
    width: 45% !important;
  }
  .block {
    width: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block h4 {
    font-size: 14px;
    width: auto;
  }
}

@media screen and (max-width: 985px) {
  #projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  .block {
    width: 42%;
    height: auto;
  }
  .grey i {
    font-size: 50px;
    height: 70px;
  }
  .grey h4 {
    opacity: 0;
  }
}

@media screen and (max-width: 874px) {
  .colums {
    height: 20px;
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #text1 h2, #bgImage #text2 h2, #text2 h2 {
    text-transform: uppercase;
  }
  #text1 p, #bgImage #text2 p, #text2 p {
    font-size: 11px;
  }
  #frame {
    height: 280px;
  }
  #about {
    width: 80%;
    height: 200px;
  }
}

@media screen and (max-width: 739px) {
  #logo h1 {
    font-size: 45px;
  }
  #nav a {
    font-size: 18px;
    margin-top: 20px;
  }
  #text1, #bgImage #text2, #text2 {
    opacity: 0;
  }
  #frame {
    height: 280px;
  }
  .colums li {
    font-size: 5px;
  }
  .colums i {
    font-size: 25px;
  }
  #about {
    width: 90%;
    padding-bottom: 10px;
  }
  #contact {
    display: block !important;
  }
  #socials {
    font-size: 15px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    border-bottom: 2px solid #000;
  }
  #socials a {
    text-align: center !important;
  }
  #socials li {
    display: inline;
  }
  #form {
    border: none;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-top: 32px;
  }
  #other {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    border-top: 2px solid #000;
  }
  #other li {
    display: inline;
  }
}

@media screen and (max-width: 650px) {
  #skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .colums {
    border-right: 3px solid #000;
  }
}

@media screen and (max-width: 549px) {
  #frame {
    height: 310px;
  }
}

@media screen and (max-width: 530px) {
  #header {
    display: block;
  }
  #logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #logo h1 {
    font-size: 65px;
  }
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 34px;
  }
  #nav a {
    font-size: 22px;
  }
  #frame {
    min-height: 530px;
  }
  #about {
    width: 75%;
    height: 300px;
  }
  #about h3 {
    font-size: 22px;
  }
  #about p {
    font-size: 19px;
    margin-bottom: 5px;
  }
  #about i {
    font-size: 35px;
  }
  .colums li {
    font-size: 10px;
  }
  #block {
    width: 60%;
  }
  #block h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 486px) {
  #frame {
    min-height: 450px;
  }
  #about p {
    font-size: 14px;
  }
  .colums {
    width: 50% !important;
  }
  .colums li {
    font-size: 17px !important;
  }
  #bgimage {
    background-position: center;
  }
  #socials i {
    font-size: 30px;
  }
  #other img {
    width: 48px;
  }
}

@media screen and (max-width: 444px) {
  #about p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 440px) {
  #nav {
    width: 40%;
    margin: 0px auto;
  }
  #bgImage {
    background-position: center;
  }
  #frame {
    display: block;
    height: 50px;
  }
  #about h3 {
    font-size: 20px;
  }
  #about p {
    margin-top: 10px;
  }
  #about mark {
    font-size: 20px;
  }
  #about p {
    font-size: 13px;
  }
  #footer p {
    font-size: 11px;
  }
  #form {
    width: auto;
  }
}

@media screen and (max-width: 392px) {
  .colums li {
    font-size: 14px !important;
    margin-right: 5px;
  }
  #bgimage {
    background-position: center;
  }
}

@media screen and (max-width: 340px) {
  #header {
    height: auto;
  }
  #logo h1 {
    font-size: 53px;
  }
  #nav a {
    font-size: 17px;
  }
  #bgImage {
    width: auto;
    height: auto;
  }
  #frame {
    display: block;
    height: 50px;
  }
  #about h3 {
    font-size: 20px;
  }
  #about mark {
    font-size: 20px;
  }
  #about p {
    font-size: 13px;
  }
  .colums li {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=style.css.map */